   
  .mainDiv{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 150, 0.3)), url(../src/images/blockchain2.jpg);   background-size: cover;
    background-size: cover;
    overflow: scroll;
  }

  